
body{
	font:400 15px Lato, sans-serif;
	position:relative;
}
.navbar {

background-color:#F4511E;
padding:0px;


}

.nav-link{
	color:white !important;
	letter-spacing:0.2rem;
	padding:1rem !important;

}

.nav-item:hover, .active{
	background-color:white;
	color:#F4511E !important;
}
.nav-link:hover{

	color:#F4511E !important;
}
.navbar-toggler{
	
	color:gray !important;
}
.navbar-toggler:hover{
	
	background-color:white;
		color:gray !important;

}
.navbar-dark .navbar-toggler-icon{
	background-image:none !important;
}
.jambt {

background-color:#F4511E !important;
	color:white !important;

}
.sear{
	background-color:#D9534F;
	    border-color: #d43f3a;
		
	
}
.sear:hover{
	background-color:#AA2824;
	
	
}
::placeholder {
  color: gray;
  opacity: 80%; 
}
.parag_size{
	
	font-size:1.2rem;
}
.parag2_size{
	
line-height:180%;
}
.fa-signal, .fa-globe-americas{
	
	color:#F4511E;
	font-size:13rem;
}


.jumb2parg{
	font-size:1.2rem;
}
.fa-power-off, .fa-heart, .fa-suitcase, .fa-wrench, .fa-certificate, .fa-pagelines, .fa-angle-right, .fa-angle-left, .fa-angle-up{
	
	color:#F4511E;
	font-size:3rem;
}
..carousel-control-prev-icon, ..carousel-control-next-icon{
	background-image:none;
}

.carousel-indicators li{
	
	background-color:white;
	height:0.8rem;
	width:0.8rem;
	border-radius:50%;
	  border: 1px solid #F4511E;

}
.carousel-indicators .active, .headderclass {
		background-color:#F4511E;

	
}
.btnback{
		
		background-color:#F4511E;
		color:white;
		padding:0.6rem;
		font-size:1.2rem;
			  border: 1px solid red;
	  border: 1px solid #F4511E;

}
.btnback:hover{
	background-color:white;
		color:#F4511E;
}
.orangecard{
		  border: 1px solid #F4511E;
            transition: all 0.8s ease-in-out;

}
.orangecard:hover{
	
	  box-shadow: 10px 10px 50px 10px grey;

}